@use "global" as *;

.article-item{
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
    @include mq(md){
        box-shadow: none;
    }
}

.article-item__image{
    @include mq(md){
        position: relative;
        width: 44.4915%;
        margin-right: auto;
        z-index: 200;
    }
}

.article-item__sentence{
    background-image: url(../images/common/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(10) rem(15);
    @include mq(md){
        position: absolute;
        top: rem(57);
        right: 0;
        width: 68.6983%;
        margin-left: auto;
        padding: rem(60) rem(50) rem(80) rem(224);
        z-index: 100;
        height: rem(350);
    }
}

.article-item__sentence-title{
    font-size: rem(24);
    font-weight: $medium;
    line-height: calc(32/24);
}

.article-item__sentence-text{
    margin-top: rem(15);
    font-size: rem(16);
    font-weight: $medium;
    line-height: calc(32/16);
}






.article-item__image--reverse{
    @include mq(md){
        position: relative;
        width: 44.4915%;
        margin-right: 0;
        margin-left: auto;
        z-index: 200;
    }
}

.article-item__sentence--reverse{
    background-image: url(../images/common/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(10) rem(15);
    @include mq(md){
        position: absolute;
        top: rem(57);
        left: 0;
        width: 68.6983%;
        margin-left: 0;
        margin-right: auto;
        padding: rem(60) rem(274) rem(60) rem(50);
        z-index: 100;
    }
}