@use "global" as *;

.button{
    position: relative;
	background-color: $low-red;
	border: rem(1) solid $low-red;
	color: $white;
	display: inline-block;
    padding: rem(10) 0;
    width: rem(180);
	font-size: rem(14);
	font-weight: normal;
	line-height: calc(22/14);
	text-align: center;
	transition: color 0.2s;
	z-index: 1;
    cursor: pointer;
	border-radius: rem(50);
}

.button:hover {
    @include mq(md){
        color: $low-red;
        opacity: 1;
    }
}

.button:hover::after {
    @include mq(md){
        transform: scale(1, 1);
    }
}

.button::after {
	background-color: $white;
	content: "";
    position: absolute;
    top: 0;
    left: 0;
	height: 100%;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: 0.5s cubic-bezier(0.45, 0, 0.55, 1);
	width: 100%;
	z-index: -1;
	border-radius: rem(50);
}

.button span {
	letter-spacing: 1em;
}