@use 'global' as *;

.commitment-card__img{
 
}

.commitment-card__img img{
    aspect-ratio: 301/201;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.commitment-card__content{
    text-align: center;
    @include mq(md){
        margin-top: rem(30);
    }
}

.commitment-card__title{
    display: inline;
    padding: rem(5) rem(15);
    font-size: rem(32);
    font-weight: $bold;
    line-height: calc(18/12);
    background-color: $low-red;
}

.commitment-card__subtitle{
    margin-top: rem(10);
    font-size: rem(24);
    font-weight: $medium;
    line-height: calc(24/16);
}

.commitment-card__text{
    margin-top: rem(16);
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24/16);
    text-align: left;
}