@use "global" as *;


.features{
    font-family: $second;
    text-align: center;
    position: relative;
}



.features::before {
    background-image: url(../images/common/features-logo1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    bottom: rem(200);
    left: calc(50% - min(50%, rem(200)));
    width: rem(100);
    height: rem(100);
    z-index: 100;
    @include mq(md){
        background-image: url(../images/common/features-logo1.png);
        left: calc(50% - min(50%, rem(500)));
        bottom: rem(350);
        width: rem(250);
        height: rem(250);
    }
}

.features-picture::before {
    background-image: url(../images/common/features-logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    bottom: rem(200);
    right: calc(50% - min(50%, rem(200)));
    width: rem(100);
    height: rem(100);
    z-index: 100;
    @include mq(md){
        background-image: url(../images/common/features-logo2.png);
        bottom: rem(350);
        right: calc(50% - min(50%, rem(500)));
        width: rem(250);
        height: rem(250);
    }
}

.features__inner{

}

.features__title{
    font-size: rem(24);
    padding-top: rem(50);
    @include mq(md){
        font-size: rem(56);
        font-weight: $medium;
        padding-top: rem(150);
        line-height: calc(50/40);
    }
}

.features__subtitle{
    margin-top: rem(20);
    font-size: rem(16);
    line-height: 2;
    letter-spacing: 0.15em;
    @include mq(md){
        margin-top: rem(36);
        font-size: rem(24);
        line-height: 2;
        letter-spacing: 0.15em;
    }
}

.features span {
    color: $high-red;
    font-weight: $bold;
    font-size: rem(24);
    @include mq(md){
        font-size: rem(64);
    }
}