@use "global" as *;

.footer-nav__items{
    width: 100%;
}

.footer-nav__items + .footer-nav__items{
    margin-top: rem(16);
}

.footer-nav__item a {
    display: inline-block;
    text-align: left;
    width: 100%;
    color: white;
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(18/16);
}

.footer-nav__item-title{
    position: relative;
    padding-top: rem(10);
    padding-bottom: rem(10);
    padding-left: rem(21);
    @include mq(md){
        padding-top: rem(10);
        padding-bottom: rem(8);
    }
}

.footer-nav__item-normal a {
    font-weight: $regular;
    padding-top: rem(12);
    padding-bottom: rem(12);
    padding-left: rem(22);
}