@use "global" as *;

.footer{
    background-color: $low-red;
    color: $white;
    border-radius: rem(300) rem(300) 0 0;
}

.footer__inner{
    max-width: $max-width;
    margin: 0 auto;
}

.footer__body{
    margin-top: rem(14);
    @include mq(md){
        margin-top: rem(0);
        
    }
}

.footer__wrapper{
    border-bottom: solid 1px $white ;
    padding-top: rem(20);
    padding-bottom: rem(50);
    @include mq(md){
        display: flex;
    }
}

.footer__wrapper-space{
    padding-left: rem(12);
    @include mq(md){
        padding-left: rem(0);
    }
}

.footer__container{
    margin-top: rem(12);
    width: 100%;
    @include mq(md){
        width: 20%;
    }
}

.footer-domicile{
    margin-top: rem(50);
}

.footer__contact{
    margin-top: rem(100);
}

/* copyright */
.footer__copyright{
    display: block;
    margin-top: rem(25);
    text-align: center;
    white-space: nowrap;
    @include mq(md){
        margin-top: rem(67);
    }
}

.footer__copyright small {
    font-size: rem(12);
    font-weight: $normal;
    line-height: calc(18/12);
    @include mq(md){
        letter-spacing: 0.085em;
    }
}