@use 'global' as *;

.information{
    position: relative;
}

.information__bg{
    position: absolute;
    left: 0;
    top: -25%;
    width: 100%;
    height: 160%;
    z-index: -10;
}

.information__bg img {
    aspect-ratio: 1440/300;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.information__inner{
    max-width: $max-width;
}

.information__flex{
    margin-top: rem(24);
    @include mq(md){
        margin-top: rem(60);
        display: flex;
        align-items: center;
    }
}

.information__flex{
    background-image: url(../images/common/information-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.information__img{
    @include mq(md){
        width: 50%;
    }
}

.information__img img{
    aspect-ratio: 345/227;
    width: 100%;
    height: auto;
    object-fit: cover;
    @include mq(md){
        aspect-ratio: 540/356;
    }
}

.information__content{
    margin-top: rem(24);
    @include mq(md){
        margin-top: rem(-6); /*---ピクセルパーフェクトのために指定---*/
        margin-left: rem(48);
        width: 45.6%;
    }
}

.information__content-title{
    font-size: rem(20);
    font-weight: $bold;
    line-height: calc(24/20);
    padding-bottom: rem(4);
    border-bottom: rem(1) solid $black;
    @include mq(md){
        font-size: rem(24);
        line-height: 1;
        padding-bottom: rem(8);
    }
}

.information__text{
    margin-top: rem(8);
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24/16);
}

.information__button{
    margin-top: rem(40);
    text-align: center;
}