@use "global" as *;

.information{
    position: relative;
}

.information::before {
    background-image: url(../images/common/information-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    bottom: rem(-150);
    right: calc(50% - min(50%, rem(280)));
    width: rem(120);
    height: rem(120);
    z-index: 100;
    @include mq(md){
        background-image: url(../images/common/information-icon.png);
        bottom: rem(-100);
        right: calc(50% - min(50%, rem(200)));
        width: rem(150);
        height: rem(150);
    }
}


.information__inner.inner{
    position: relative;
    max-width: $max-width;
    width: 100%;
    margin: auto;
    padding: 0;
    @include mq(md){
        max-width: 100%;
    }
}

.information__inner::before{
    @include mq(md){
        position: absolute;
        top: 70%;
        right: rem(100);
        z-index: -1;
        display: block;
        width: 60%;
        height: 85%;
        content: "";
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: #FFFFE0;
        border-radius: 10%;
    }
}


.information__wrapper{
    color: $black;
    position: relative;
    @include mq(md){
        display: flex;
        align-items: center;
    }
}

.information__image{
    filter: brightness(0.7);
    @include mq(md){
        filter: none;  
        width: 54.6875%;
    }
}

.information__image img{
    aspect-ratio: 375/400;
    width: 100%;
    height: rem(400);
    object-fit: cover;
    border-radius: 0 ;
    @include mq(md){
        aspect-ratio: 1050/545;
        width: 100%;
        height: rem(545);
        object-fit: cover;
        border-radius: 0 30% 30% 0;
    }
}


.information__content{
    text-align: center;
    line-height: 2;
    padding-right: rem(25);
    padding-left: 6%;
}

.information__title{
    margin-top: rem(64);
}

.information__text{
    margin-top: rem(50);
    font-size: rem(20);
    letter-spacing: 0.1em;
    @include mq(md){
        margin-top: rem(110);
        font-size: rem(24);
        letter-spacing: 0.3em;
    }
}

.information__button{
    margin-top: rem(60);
}

