@use "global" as *;

.information{}

.information__inner{
    max-width: rem(1920);
    margin: auto;
    padding-right: rem(25);
}

.information__content{
    display: flex;
    align-items: center;
}

.information__img{
    width: 50%;
}

.information__img img{
    height: rem(500);
    object-fit: contain;
}

.information__sentence{
    width: 40%;
    margin: auto;
    padding: 0 rem(40);
}

.information__title{
    font-size: rem(36);
}

.information_text{
    margin-top: rem(50);
    font-size: rem(24);
    line-height: 2;
}

.information__button{
    text-align: center;
    margin-top: rem(60);
}