@use "global" as *;

.page-philosophy{
    text-align: center;
}

.page-philosophy__inner{
    max-width: $max-width;
    margin: auto;
    padding:0 rem(25);
    @include mq(md){
        max-width: rem(900);
    }
}

.page-philosophy__head-subtitle{
    margin-top: rem(48);
    font-size: rem(20);
    letter-spacing: 0.1em;
    line-height: 2;
}

.page-philosophy__content{
    margin-top: rem(40);
}

.page-philosophy__content-title{
    margin-top: rem(80);
    padding-bottom: rem(32);
    font-size: rem(42);
}

.page-philosophy__content-text{
    text-align: left;
    font-size: rem(28);
    line-height: 2;
    background: #fffaf0;
    display: inline;
    -webit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.page-philosophy__company{
    margin-top: rem(80);
    @include mq(md){
        margin-top: rem(160);
    }
}