@use "global" as *;

.section-title{
	text-align: center;
	font-weight: $bold;
}

.section-title__text::first-letter {
	text-transform: capitalize;
    color: $high-red;
	font-size: rem(32);
}

.section-title__text{
	margin-top: rem(6);
	font-size: rem(28);
    line-height: calc(40/28);
	letter-spacing: 0.1em;
}