@use "global" as *;

.section-title{
	text-align: center;
	font-weight: $bold;
}

.section-title__text::first-letter {
	text-transform: capitalize;
    color: $high-red;
	font-size: rem(56);
}

.section-title__text{
	font-size: rem(24);
    line-height: calc(40/28);
	letter-spacing: 0.1em;
	@include mq(md){
		font-size: rem(48);
	}
}