@use "global" as *;


.visit{
    background-image: url(../images/common/test.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;   
    height: rem(500); 
}

.visit__img{
    margin-top: rem(16);
    margin-right: calc(50% - 50vw);
    @include mq(md){
        margin-top: rem(-92.8);
        margin-left: rem(32);
   }
}

.visit__img img {
    aspect-ratio: 377/288;
    width: 100%;
    height: auto;
    object-fit: cover;
    @include mq(md){
        aspect-ratio: 618/474;
        width: 100%;
        height: rem(474);
        object-fit: cover;
    }
}

.visit__slider{
    margin-top: rem(18);
    @include mq(md){
        margin-top: rem(48);
    }
}