@use "global" as *;


.visit{
    position: relative;
}

.visit__bg{
    position: absolute;
    left: 0;
    top: -25%;
    width: 100%;
    height: 155%;
    z-index: -10;
}

.visit__bg img {
    aspect-ratio: 2560/1000;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visit__slider{
    margin-top: rem(18);
    @include mq(md){
        margin-top: rem(80);
    }
}

.visit__button{
    text-align: center;
    margin-top: rem(80);
}